[package]
name = "css_inspector_suite"
version.workspace = true
edition.workspace = true
license.workspace = true
publish = false

[dependencies]
css_inspector = { path = "../css_inspector" }
rustc-hash.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
